.closeButton {
    position: absolute;
        top: 5px;
        right: 5px;
        font-size: 16px;
        background: #22C1C3;
        border: 3px solid black;
        cursor: pointer;
      
    
    }
.closeButton:hover {
    transform: scale(1.2);     
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center; }